<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <title>Hello App</title>
</head>
<body>
    <h1>This will be the Hello App</h1>
    <script type="text/javascript" charset="utf-8">
        // var socket = io.connect('http://' + document.domain + ':' + location.port);
    $(document).ready(function(){
        var socket = io.connect('http://127.0.0.1:5000');
        socket.on('connect', function() {
        //^ don't touch the 'connect'
            socket.emit('new_connection', {data:'User has connected!'});
        });
        socket.on('apple', function(){
            console.log('hi this is apple')
            // console.log(message['data'])
            $('body').append('bybye world')
        } )
        $('#send_form').submit(function(){
            $.ajax({
                url:'pineapple',
                method: 'POST',
                data: $(this).serialize()
                
            })
            .done(function(res){
                console.log(res)
            })
            return false
        })
    })

        // socket.on('connect', function() {
        //     socket.emit('my event', {data: 'I\'m connected!'});
        // });
    </script>
    <ul id="messages"></ul>
    <form action="POST" id="send_form">
        <input type="text" id="myMessage" name='text_message'>
        <button id="sendbutton">Send</button>
    </form>
</body>

</html>